@use "sass:color";
@import "../variables";

.searchBar {
  max-width: 400px;
  z-index: 2;
  position: relative;

  &__icon {
    position: absolute;
    top: 12px;
    left: 1rem;
  }

  &__input {
    overflow: hidden;
    background: none;
    border: solid #27272775 0.6mm;
    width: 100%;
    border-radius: 10px;
    padding: 13px 3rem;
    font-family: "WorkSans", sans-serif;
    font-size: 16px;
    color: black;

    &:focus {
      outline: none;
      box-shadow: 2px 2px 30px #00000025;
      border-radius: 10px 10px 0 0;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      margin-left: 0.4em;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
      cursor: pointer;
    }
  }

  &__kbd {
    position: absolute;
    top: 8px;
    right: 13px;
    background-color: #48484850;
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 16px;
  }

  &__suggested {
    font-size: 0.75rem;
    padding: .5rem 1rem;
    text-align: left;
    color: rgba(117, 117, 117);
    background-color: color.scale($documentation-background-color, $lightness: -10%);
  }

  &__resultBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: color.scale($documentation-background-color, $lightness: -10%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;

    &__item {
      display: flex;
      padding: 10px;
      font-size: 14px;
      color: #333;

      &:hover {
        background-color: color.scale($documentation-background-color, $lightness: -20%);
        cursor: pointer;
      }

      &__icon {
        margin-right: 10px;
      }
    }
  }
}
