@mixin header-styling {
  font-family: "JetBrainsMono-Bold";
  padding: 1rem;
  margin: auto;
  font-size: 51px;
  position: relative;
  z-index: 2;
  
  @media (max-width: 768px) {
    font-size: 45px;
   }
  @media (max-width: 480px) {
    font-size: 40px;
  }
}

@mixin sub-header-styling {
  font-family: "JetBrainsMono-Bold";
  margin: auto;
  font-size: 40px;
  position: relative;
  z-index: 2;

 @media (max-width: 768px) {
  font-size: 36px;
 }
 @media (max-width: 480px) {
  font-size: 32px;
 }
}
@mixin paragraph-medium {
  font-family: "WorkSans-Regular";
  margin: auto;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
@mixin paragraph-small {
  font-family: "WorkSans-Regular";
  margin: auto;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
@mixin btn-styling {
  color: $black;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-size: 16px;
  line-height: 16px;
  user-select: none;
  transition: all 0.5s ease-out, color 0.15s ease-in-out;

  &:hover {
    color: $white;
    transform: scale(1.02);
  }
}

@mixin transitionEase() {
  transition: all 0.5s ease-out;
}
@mixin transitionEaseSlower() {
  transition: all 2s ease-out;
}

@mixin fade-in {

}
