$primary-color: #f33061;
$background-color: #dbf0ff;
$background-color-secondary: #64c0ff;
$accent-color: #fdd853;
$documentation-background-color: #b5e1fd;

$color-1: #fba9d1;
$color-2: #fdda55;
$color-3: #85dff7;
$color-5: #ebadda;

$white: #eeeeee;
$black: #000;

@media (prefers-color-scheme: dark) {
  $black: #eeeeee;
  $white: #000;
}
