$primary-color: #f33061;
$background-color: #dbf0ff;
$accent-color: #fdd853;

$color-1: #fba9d1;
$color-2: #fdda55;
$color-3: #85dff7;
$color-4: #64c0ff;
$color-5: #ebadda;

$white: #eeeeee;
$black: #000;
