@import "./variables";
@import "./mixins";

.buttonTwo {
  padding: 0.5rem;
  background-color: darken($background-color, $amount: 10%);
  overflow: hidden;
  position: relative;
  @include btn-styling;

  &:hover {
    background-color: darken($background-color, $amount: 20%);
  }
}

@media (prefers-color-scheme: dark) {
  .buttonTwo {
    background-color: darken($background-color, $amount: 40%);
  }
}
