@import "variables";
@import "mixins";

.command {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
  margin: 4rem auto;
  gap: 0.5rem;

  &--reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 29rem;
  }

  &__headerText {
    @include sub-headerStyling();
    padding: 0;
    margin: 0 0 1rem;
    font-size: 38px;
  }

  &__noteText {
    padding-top: 1rem;
    margin: 0;
    font-size: 21px;
  }

  &__buttonContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;

    @media (max-width: 1024px) {
      justify-content: center;
    }
    @media (max-width: 460px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 540px;
    height: auto;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}

.command__container > *, .command__image {
  opacity: 0;
}

.command--fade-in-left, .command--fade-in-right {
  .command__container > *, .command__image {
    animation-fill-mode: forwards;
  }

  .command__noteText {
    animation-name: fade-in-left;
    animation-duration: 1550ms;
  }
  .command__headerText {
    animation-name: fade-in-left;
    animation-duration: 1600ms;
  }
  .command__paragraphText {
    animation-name: fade-in-left;
    animation-duration: 1650ms;
  }
  .command__buttonContainer {
    animation-name: fade-in-left;
    animation-duration: 1800ms;
  }
  .command__image {
    animation-name: fade-in-left;
    animation-duration: 1800ms;
  }

  &.command--fade-in-right {
    .command__container > *, .command__image {
      animation-name: fade-in-right;
    }
  }
}

.discord__button-hidden {
  display: none;
}

@keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}