@import "variables";
@import "mixins";

.command {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  margin: 4rem auto;
  gap: 0.5rem;

  &--reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 29rem;
  }

  &__headerText {
    @include sub-header-styling();
    margin: 0 0 1rem;
  }

  &__noteText {
    padding-top: 1rem;
    margin: 0;
    font-size: 21px;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  &__buttonContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;

    @media (max-width: 1024px) {
      justify-content: center;
    }
    @media (max-width: 460px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 540px;
    height: auto;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}

.command__container > *,
.command__image {
  opacity: 0;
}

.command--fade-in-command {
  .command__container > *,
  .command__image {
    animation-fill-mode: forwards;
    animation-name: fade-in-command;
  }

  .command__noteText {
    animation-duration: 1750ms;
    animation-delay: 50ms;
  }
  .command__headerText {
    animation-duration: 1400ms;
    animation-delay: 100ms;
  }
  .command__paragraphText {
    animation-duration: 1650ms;
    animation-delay: 200ms;
  }
  .command__buttonContainer {
    animation-duration: 1800ms;
    animation-delay: 200ms;
  }
  .command__image {
    animation-duration: 1600ms;
    animation-name: fade-in-image;
  }
}

.discord__button-hidden {
  display: none;
}

@keyframes fade-in-command {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-image {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
