@import "variables";
@import "mixins";

.command {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  margin: 4rem auto;
  gap: 0.5rem;

  &-reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 29rem;
  }

  &__headerText {
    @include sub-headerStyling();
    padding: 0;
    margin: 0 0 1rem;
    font-size: 38px;
  }

  &__noteText {
    padding-top: 1rem;
    margin: 0;
    font-size: 21px;
  }

  &__buttonContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    width: 100%;

    @media (max-width: 1024px) {
      justify-content: center;
    }
    @media (max-width: 460px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 540px;
    height: auto;

    @media (max-width: 640px) {
      width: 90%;
    }
  }
}
