@import "variables";
@import "mixins";

.feature {
  &__plane {
    img {
      height: 270px;
      width: auto;
      min-width: none;
      overflow: hidden;
      z-index: -2;
      position: absolute;
      transform: translate(-180%, -50%);
    }
  }

  &__birds {
    img {
      height: 100px;
      width: auto;
      min-width: none;
      overflow: hidden;
      z-index: -2;
      position: absolute;
      right: 5%;
      top: 25rem;
    }
  }
}
