@import "mixins";

.guide {
  max-width: 80rem;
  margin: auto;
  text-align: left;
  padding: 1rem;
  padding-top: 2rem;

  @media (max-width: 768px) {
    padding-top: 6rem;
  }

  &__btn {
    position: absolute;
    text-align: center;
    top: 1rem;
    right: 1rem;
    min-width: 110px;
    padding: 0.5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__hero {
    background: linear-gradient(
        to bottom right,
        rgba(243, 48, 97, 0.6),
        rgba(243, 48, 97, 0.4)
      ),
      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" fill-opacity="0.2"><circle cx="50" cy="50" r="60" fill="%23f33061"/><circle cx="150" cy="150" r="40" fill="%23f33061"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 2rem;

    padding: 1rem;
    border-radius: 20px;
    min-height: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &__container {
      max-width: 40rem;
    }

    &__paragraph {
      display: inline-block;
    }
  }

  &__hero__header {
    @include header-styling();
  }

  &__hero__image {
    @media (max-width: 980px) {
      display: none;
    }
  }

  &__getStarted,
  &__reccomendedGuide,
  &__videoGuide {
    margin-top: 3rem;
  }

  &__header {
    @include sub-header-styling();
    margin-bottom: 0;
  }

  &__paragraph {
    margin-top: 0.5rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }
}
