@import "variables";
@import "mixins";

.hero {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: auto;

  &__header {
    @include header-styling();
    max-width: 25rem;
    animation: fade-in-item 1500ms both;
    animation-delay: 250ms;
    opacity: 0;
  }
  &__paragraph {
    @include paragraph-medium();
    margin-bottom: 2rem;
    max-width: 28rem;
    animation: fade-in-item 1s both;
    animation-delay: 500ms;
    padding: 1rem;
    opacity: 0;
  }
  &__button-container {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    max-width: 26rem;
    padding: 0 1rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__featuresButton {
    width: 100%;
    animation: fade-in-item 1s both;
    animation-delay: 500ms;
  }
  &__discordButton {
    width: 100%;
    animation: fade-in-item 1s both;
    animation-delay: 500ms;
  }

  @media (max-width: 768px) {
    padding: 2rem 0 8rem;
  }
}

.hero__balloon {
  position: relative;
  height: 125px;
  width: 86px;
  background: none;
  top: 100px;
  left: 82%;
  overflow: hidden;
  @include transitionEaseSlower();

  @media (max-width: 480px) {
    left: 72%;
  }
}

.hero__cloud {
  position: relative;
  width: 100px;
  height: auto;
  background: none;
  top: 220px;
  left: 2%;
  @include transitionEaseSlower();

  @media (min-width: 416px) {
    top: 250px;
  }
}

.homeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  min-width: 110px;
  font-size: 16px;
  padding: 0.5rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.container {
  max-width: 80rem;
  margin: auto;
}
