@import "variables";
@import "mixins";

.hero {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;

  @media (max-width: 768px) {
    padding: 12rem 0 8rem;
  }

  &__Header {
    @include sub-headerStyling();
    max-width: 25rem;
  }
  &__paragraph {
    @include paragraphStyling();
    margin-bottom: 2rem;
    max-width: 28rem;
  }
  &__container {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    max-width: 26rem;
    padding: 0 1rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__balloon {
    position: absolute;
    height: 125px;
    width: auto;
    background: none;
    top: 60px;
    left: 80%;
    overflow: hidden;
    @include transitionEaseSlower();
  }
  &__cloud {
    position: absolute;
    width: 100px;
    height: auto;
    background: none;
    top: 280px;
    left: 25%;
    @include transitionEaseSlower();
  }

  &__featuresButton {
    width: 100%;
  }
  &__discordButton {
    width: 100%;
  }
}

.homeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  min-width: 110px;
  font-size: 16px;
  padding: 0.5rem;

  @media (max-width: 768px) {
    display: none;
  }
}
