@import "./variables";
@import "./mixins";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  height: 4rem;

  @media (max-width: 768px) {
    top: 0;
    position: absolute;
    padding: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;

    transform: translateX(-50vw);
    visibility: hidden;
    transition: all 0.5s ease-in-out, visibility 0ms ease-out;

    &--open {
      z-index: 3;
      background-color: darken($background-color, 15%);
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__container {
    z-index: 4;
    height: 4rem;
    position: absolute;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__desire {
    padding-left: 1rem;
    position: relative;
    font-size: 32px;
    margin: 0;
    color: $black;
    font-family: "WorkSans-Medium";
  }
}
