@import "variables";
@import "mixins";

.server {
  height: 30rem;
  display: flex;

  &__container {
    max-width: 80rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto auto 0;
  }
  &__header {
    @include sub-headerStyling();
    margin: 0;
    padding-bottom: 0;
  }
  &__paragraph {
    @include paragraphStyling();
    text-align: start;
  }
}

.server__button {
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  position: relative;
  z-index: 0;
  color: #fff;
}

.server__button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff000099,
    #ff730099,
    #fffb0099,
    #48ff0099,
    #00ffd599,
    #002bff99,
    #7a00ff99,
    #ff00c899,
    #ff000099
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.server__button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #517a97;
  left: 0;
  top: 0;
  border-radius: 10px;

  &:hover {
    background-color: lighten(#517a97, 25%);
  }
}
