@import url("./styles/_variables.scss");
@font-face {
  font-family: "JetBrainsMono-Bold";
  src: local("JetBrainsMono-Bold"), url("./fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrainsMono-Regular";
  src: local("JetBrainsMono-Regular"), url("./fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"), url("./fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "WorkSans-Bold";
  src: local("WorkSans-Bold"), url("./fonts/WorkSans-Bold.ttf");
}
@font-face {
  font-family: "WorkSans-Medium";
  src: local("WorkSans-Medium"), url("./fonts/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "WorkSans-SemiBold";
  src: local("WorkSans-SemiBold"), url("./fonts/WorkSans-SemiBold.ttf");
}

:root {
  font-family: "WorkSans-Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #dbf0ff;
  background: radial-gradient(#dbf0ff 40%, #96d0f6);

  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
  transition: color 250ms ease-in-out;
  color: #5e5e5e;
}
a:hover {
  color: #757575;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
